{% extends 'base.html' %}
{% block content %}
<h2>Invoices</h2>

<table>
<tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Date</th>
    <th>Actions</th>
</tr>

{% for i in invoices %}
<tr>
    <td>{{ i.id }}</td>
    <td>{{ i.customer }}</td>
    <td>₹{{ i.amount }}</td>
    <td>
        {% if i.status == 'Paid' %}
            <span class="badge-paid">Paid</span>
        {% else %}
            <span class="badge-pending">Pending</span>
        {% endif %}
    </td>
    <td>{{ i.date }}</td>
    <td>
        {% if i.status != 'Paid' %}
        <a href="/mark_paid/{{ i.id }}"><button>Mark Paid</button></a>
        {% endif %}
        <a href="/invoice_pdf/{{ i.id }}"><button>PDF</button></a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
